@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*NAVBAR
logo size-200
number


*/
* {
    font-family: 'Montserrat', sans-serif;
}

.font-anton {
    font-family: 'Anton', sans-serif !important;
}

.fs-7 {
    font-size: 7em;
}

.mw-7 {
    max-width: 7em;
}

.opacity-15 {
    opacity: 0.15;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #070606 !important
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #070606;
    --bs-btn-border-color: #070606;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #050404;
    --bs-btn-hover-border-color: #050404;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #050404;
    --bs-btn-active-border-color: #545353;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #070606;
    --bs-btn-disabled-border-color: #070606
}

.div-img-1 {
    background-image: url(photo/hero-1.jpg);
    background-color: #cccccc;
    height: 50em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.75) saturate(1.4);
}

.div-img-2 {
    background-image: url(photo/hero-2.jpg);
    background-color: #cccccc;
    height: 50em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.75) saturate(1.4);
}

.size-200 {
    font-size: 200%;
}

.number {
    position: absolute;
    color: rgba(255, 255, 255, 0.15);
    font-size: 120px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s;
}

.logo {
    font-family: 'Comforter Brush', cursive;
    color: #D5AD6D;
    background: -webkit-linear-gradient(transparent, transparent),
        -webkit-linear-gradient(top, rgba(213, 173, 109, 1) 0%, rgba(213, 173, 109, 1) 26%, rgba(226, 186, 120, 1) 35%, rgba(163, 126, 67, 1) 45%, rgba(145, 112, 59, 1) 61%, rgba(213, 173, 109, 1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.4px rgba(213, 173, 109, 1);
}

@media screen and (max-width: 768px) {
    .div-img-1 {
        height: 30em !important;
    }

    .div-img-2 {
        height: 30em !important;
    }

    .fs-7 {
        font-size: 4em;
    }
}