@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*DARK*/
[data-bs-theme="dark"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: #171717;
    --bs-body-bg-rgb: rgb(25, 23, 23);
}

/*FONT*/
* {
    font-family: 'Montserrat', sans-serif;
}

.font-anton {
    font-family: 'Anton', sans-serif !important;
}

/*BTN*/
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #070606;
    --bs-btn-border-color: #070606;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #050404;
    --bs-btn-hover-border-color: #050404;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #050404;
    --bs-btn-active-border-color: #545353;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #070606;
    --bs-btn-disabled-border-color: #070606
}

.btn-hover-0 {
    color: #FFF;
    border: 4px solid #070606;
    box-shadow: 0px 0px 0px 1px #070606 inset;
    background-color: #070606;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.btn-hover-0:hover {
    border: 4px solid #070606;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    box-shadow: 0px 0px 0px 4px #EEE inset;
}

.btn-hover-0 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.btn-hover-0:hover span {
    letter-spacing: 0.13em;
    color: #333;
}

.btn-hover-0:after {
    background: var(--bs-body-bg);
    border: 0px solid #070606;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.btn-hover-0:hover:after {
    background: var(--bs-body-bg);
    border: 20px solid #070606;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

.btn-hover-1 {
    color: #FFF;
    border: 4px solid #070606;
    box-shadow: 0px 0px 0px 1px #070606 inset;
    background-color: #070606;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.btn-hover-1:hover {
    border: 4px solid #070606;
    background-color: #FFF;
    color: #070606;
    box-shadow: 0px 0px 0px 4px #EEE inset;
}

.btn-hover-1 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.btn-hover-1:hover span {
    letter-spacing: 0.13em;
    color: #333;
}

.btn-hover-1:after {
    background: #FFF;
    border: 0px solid #070606;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.btn-hover-1:hover:after {
    background: #FFF;
    border: 20px solid #070606;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

.btn-hover-2 .color {
    color: #FFC107;
}

.btn-hover-2 {
    color: #FFF;
    border: 4px solid #070606;
    box-shadow: 0px 0px 0px 1px #070606 inset;
    background-color: #070606;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.btn-hover-2:hover {
    border: 4px solid #070606;
    background-color: #FFC107;
    color: #070606;
    box-shadow: 0px 0px 0px 4px #EEE inset;
}

.btn-hover-2:hover .color {
    color: #070606;
}

.btn-hover-2 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.btn-hover-2:hover span {
    letter-spacing: 0.13em;
    color: #333;
}

.btn-hover-2:after {
    background: #FFC107;
    border: 0px solid #070606;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.btn-hover-2:hover:after {
    background: #FFC107;
    border: 20px solid #070606;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

.btn-hover-3 {
    color: #FFF;
    border: 4px solid #070606;
    box-shadow: 0px 0px 0px 1px #070606 inset;
    background-color: #070606;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.btn-hover-3 .color {
    color: #A30EB3;
}

.btn-hover-3:hover {
    border: 4px solid #070606;
    background-color: #A30EB3;
    color: #fff;
    box-shadow: 0px 0px 0px 4px #EEE inset;
}

.btn-hover-3:hover .color {
    color: #fff;
}

.btn-hover-3 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.btn-hover-3:hover span {
    letter-spacing: 0.13em;
    color: #333;
}

.btn-hover-3:after {
    background: #A30EB3;
    border: 0px solid #070606;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.btn-hover-3:hover:after {
    background: #5DB30E;
    border: 20px solid #070606;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}
.btn-hover-4 {
    color: #FFF;
    border: 4px solid #070606;
    box-shadow: 0px 0px 0px 1px #070606 inset;
    background-color: #070606;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.btn-hover-4 .color {
    color: #5DB30E;
}

.btn-hover-4:hover {
    border: 4px solid #070606;
    background-color: #5DB30E;
    color: #fff;
    box-shadow: 0px 0px 0px 4px #EEE inset;
}

.btn-hover-4:hover .color {
    color: #fff;
}

.btn-hover-4 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.btn-hover-4:hover span {
    letter-spacing: 0.13em;
    color: #333;
}

.btn-hover-4:after {
    background: #5DB30E;
    border: 0px solid #070606;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.btn-hover-4:hover:after {
    background: #5DB30E;
    border: 20px solid #070606;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}
.btn-hover-5 {
    color: #FFF;
    border: 4px solid #070606;
    box-shadow: 0px 0px 0px 1px #070606 inset;
    background-color: #070606;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.btn-hover-5 .color {
    color: #0580B3;
}

.btn-hover-5:hover {
    border: 4px solid #070606;
    background-color: #0580B3;
    color: #fff;
    box-shadow: 0px 0px 0px 4px #EEE inset;
}

.btn-hover-5:hover .color {
    color: #fff;
}

.btn-hover-5 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.btn-hover-5:hover span {
    letter-spacing: 0.13em;
    color: #333;
}

.btn-hover-5:after {
    background: #0580B3;
    border: 0px solid #070606;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.btn-hover-5:hover:after {
    background: #0580B3;
    border: 20px solid #070606;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}
/*ALL*/
.fs-7 {
    font-size: 7em;
}

.mw-7 {
    max-width: 7em;
}

.opacity-15 {
    opacity: 0.2;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #070606 !important
}

.div-img-1 {
    background-image: url(photo/hero-1.jpg);
    background-color: #cccccc;
    height: 50em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.75) saturate(1.4);
}

.div-img-2 {
    background-image: url(photo/hero-2.jpg);
    background-color: #cccccc;
    height: 50em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.75) saturate(1.4);
}

.div-img-3 {
    background-image: url(photo/article.jpg);
    background-color: #cccccc;
    height: 20em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.75) saturate(1.4);
}

.size-200 {
    font-size: 200%;
}

.number {
    position: absolute;
    color: rgba(255, 255, 255, 0.15);
    font-size: 120px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s;
}

.logo {
    font-family: 'Comforter Brush', cursive;
    color: #D5AD6D;
    background: -webkit-linear-gradient(transparent, transparent),
        -webkit-linear-gradient(top, rgba(213, 173, 109, 1) 0%, rgba(213, 173, 109, 1) 26%, rgba(226, 186, 120, 1) 35%, rgba(163, 126, 67, 1) 45%, rgba(145, 112, 59, 1) 61%, rgba(213, 173, 109, 1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.4px rgba(213, 173, 109, 1);
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #070606 !important;
}

.Daniel {
    color: #FFC107;
}

.Ola {
    color: #050404;
}
.Oliwia {
    color: #A30EB3;
}
.Mikołaj {
    color: #0580B3;
}

/*SCREEN*/
@media screen and (max-width: 768px) {
    .div-img-1 {
        height: 30em !important;
    }

    .div-img-2 {
        height: 30em !important;
    }

    .fs-7 {
        font-size: 4em;
    }
}